
.javascript-logical p{
    background-color: #1e272e;
    color: #ffffff;
    margin: 8px 8px 0px 0px;
    padding: 8px 4px;
    margin-left: 8px;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}