* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.sidebar-container {
  display: flex;
}
.sidebard {
  width: 30%;
  height: 83.8vh;
  overflow-y: auto;
  position: fixed;
    left: 0px;
    top: 104px;
}

.dashboard {
  width: 70%;
  position: absolute;
  right: 0px;
  top: 112px;
  z-index: -1;
  overflow-x: auto;
}
